<div class="container">
  <div class="card">
    <h5 class="card-header"><%= @s_species.name %></h5>
    <div class="card-body">
      <% unless @s_species.planet.nil? %>
        <h5 class="card-title">Homeworld</h5>
        <p class="card-text"><%= link_to @s_species.planet.name, @s_species.planet %></p>
      <% end %>
      <h5 class="card-title">Characteristics</h5>
      <p class="card-text">Designation: <%= @s_species.designation.humanize %></p>
      <p class="card-text">Classification: <%= @s_species.classification.humanize %></p>
      <p class="card-text">Average Lifespan: <%= @s_species.average_lifespan %></p>
    </div>
    <h5 class="card-header">Featured in films</h5>
    <ul class="list-group list-group-flush">
      <% @s_species.films.each do |film| %>
        <li class="list-group-item"><%= link_to film.title, film %></li>
      <% end %>
    </ul>
    <div class="card-body">
    <%= link_to 'All Species', species_index_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>