<div class="container">
  <div class="card">
    <h5 class="card-header">Episode <%= @film.episode %>: <%= @film.title %></h5>
    <div class="card-body">
      <h5 class="card-title">Released: <%= @film.release_date %></h5>
      <p class="card-text"><%= @film.opening_crawl %></p>
    </div>
    <h5 class="card-header">Species Featured</h5>
    <ul class="list-group list-group-flush">
        <% @film.species.each do |sp| %>
          <li class="list-group-item"><%= link_to sp.name, sp %></li>
        <% end %>
    </ul>
    <h5 class="card-header">Planets Featured</h5>
    <ul class="list-group list-group-flush">
        <% @film.planets.each do |planet| %>
          <li class="list-group-item"><%= link_to planet.name, planet %></li>
        <% end %>
    </ul>
    <div class="card-body">
    <%= link_to 'All Films', films_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>